
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( #fff, #c3f5ff);
}
.navsection{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%, #c3f5ff 20%);

}
.logo{
    width: 40%;
    color: #fff;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: 100px;
    box-sizing: border-box;
}
.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: frontback 2s infinite;
    animation-direction: alternate;
}
@keyframes frontback{
    from{
        padding-left: 40px;
    }
    to{
        padding-right: 40px;
    }
}
nav{
    width: 60%;
    justify-content: space-around;
    display: flex;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    position: relative;
}
nav a:first-child{
    color: #4458bc;
}

nav a:before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #4458bc;
    transition: all 0.4s linear;
}
nav a:hover:before{
    width: 100%;

}
main{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

